.slider {
    width: 3em;
    background-color: #444;
    position: relative;
  }
  .slider .slider-handles {
    width: 100%;
    position: absolute;
    top: 1.5em;
    bottom: 1.5em;
  }
  .slider .slider-handle {
    height: 3em;
    width: 3em;
    border-radius: 2em;
    position: absolute;
    background-color: #666;
    z-index: 2;
    cursor: grab;
  }
  .slider .slider-rail {
    width: 100%;
    background-color: #444;
    height: 100%;
  }
  .slider .slider-tracks {
    position: absolute;
    top: 1.5em;
    bottom: 1.5em;
    width: 100%;
  }
  .slider .slider-track {
    position: absolute;
    left: calc(50% - 0.25em);
    width: 0.5em;
    z-index: 1;
    background-color: #222;
    border-radius: 4;
    cursor: pointer;
  }
  
  .slider-wrapper {
    padding: 0.25em;
    flex: 0 0 4em;
    display: flex;
    height: 100%;
    box-sizing: border-box; 
    flex-flow: column nowrap;
  }
  .slider-wrapper label {
    margin: 0.25em 0 0.3em;
    font-size: 0.9em;
    font-weight: bold;
    font-weight: normal;
    text-align: center;
  }
  .slider-wrapper .slider {
    margin: 0 auto;
    flex: 1 0 auto;
  }
  .slider-wrapper div.value {
    margin: 0;
    margin-top: 0.25em;
    text-align: center;
  }

  .slider-wrapper p {
    margin: 0.2em 0; 
    text-align: center; 
    font-size: 0.8em;
  }